target/
.env
/db
./db_tests/
db_tests/
!package.json
!package-lock.json
!tsconfig.json
!.eslintrc.json
!toolkit-setup.json
./*.json
./*.bin
*.log
/models/
local-ai
server
embeddings
bert.cpp/
bert-cpp-server
a.out
tmp_*.js
.venv/
hanzo-libs/hanzo-message-pyo3/tests/__pycache__
output.wav
hanzo-libs/hanzo-message-pyo3/venv
tmp_tests
parse_pdf_to_string_list_output.txt
zeko_word_listing.txt
.idea
tmp_cron_downloads
hanzo-mini-apps/hanzo-tray/src-tauri/models
hanzo-mini-apps/hanzo-tray/src-tauri/db
typescript
hanzo-libs/hanzo-message-pyo3/env_x86_64
.secret
db/.secret
./main_db
./vector_fs_db
./storage/*
vector_fs_db
storage
.vscode/*
perf_testing_storage.zip
hanzo-libs/hanzo-fs-mirror/db_tests_persistence
db_tests_persistence
hanzo-libs/hanzo-fs-mirror/youtube
hanzo-libs/hanzo-fs-mirror/mirror_db
local_hanzo.key
hanzo-fs-mirror.zip
storage_9652
storage_9750
storage_wp
9752_hanzo.key
9652_hanzo.key
storage_streamer
storage_9750.zip
storage_9652.zip
streamer_hanzo_9850.key
storage_streamer.zip
storage_rob
storage_requester
hanzo-libs/hanzo-fs-mirror/top-10-hn
hanzo_node.svg
old_streamer_hanzo_9850.key
storage_debug
_oldlocal_hanzo.key
storage_streamer_tcp
streamer.key
hanzo-libs/hanzo-dsl/tmp
tmp
storage_debug_my_local_ai
storage_debug_proxied_my_local_ai
run_local_ai.sh
subscriber.key
identity_proxied.key
localhost_proxied.key
run_local_ai.sh
subscriber.key
hanzo-bin/hanzo-node/lance_db_tests
storage_debug_serve_mode
hanzo-tools-runner-resources
hanzo-tools-runner-execution-storage
hanzo-bin/hanzo-node/hanzo_db_tests
hanzo-tools-runner-resources
storage_debug_agent_provider
agent_provider
image_0.txt
storage_debug_0_7_33.zip
example.db
hanzo-bin/hanzo-node/ocrs/text-detection.rten
hanzo-bin/hanzo-node/ocrs/text-recognition.rten
logs.json
example.db-shm
example.db-wal
libpdfium.dylib
ocrs
.DS_Store

.nx/installation
.nx/cache
.nx/workspace-data
storage_testing_debug_my_local_ai
hanzo-bin/hanzo-node/files/zeko_mini.vrkai
hanzo-bin/hanzo-node/files/short_story.md
hanzo-bin/hanzo-node/files/hanzo_intro.vrkai
hanzo-bin/hanzo-node/files/hanzo_intro.pdf
hanzo-bin/hanzo-node/files/hispania_jina_es.vrkai
storage_testing_debug_my_local_ai/
output.txt
file_aggregator.sh
hanzo-libs/hanzo-sqlite/dumped_prompts.rs
storage_debug_localhost
hanzo-libs/hanzo-fs/internal_tools_storage
hanzo-libs/hanzo-crypto-identities/internal_tools_storage
hanzo-bin/hanzo-node/internal_tools_storage
hanzo-libs/hanzo-tcp-relayer/internal_tools_storage
pre-install/
hanzo-libs/hanzo-non-rust-code/internal_tools_storage
hanzo-bin/hanzo-node/storage_test_node
storage_debug_node2_test
storage_debug_node1_test
storage_debug_nico_testnet1
storage_debug_nico_testnet2
storage_debug_relay
